.App {
  background-color: #00071E;
  color: white;
}

.Landing {
  background-image: url('../public/bg.png');
  text-align: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  
}

.LandingText {
  width: 50%;
  margin: auto;
}

.AboutMe {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 70%;
  margin: auto;
}
